@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media screen and (max-width: 640px) {
    @supports (zoom:normal) {
      html {
          min-width: 640px;
      }
    }
  }

  a {
    @apply focus:text-yellow-500 hover:text-yellow-400
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(45, 45, 45, 0.87);
    background-color: #dedede;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
  }
}

@layer components {
  .header {
    @apply bg-gray-400 w-full relative block
  }

  .header-content {
    @apply flex items-center justify-between h-16
  }

  .header__title {
    @apply text-3xl shadow-sm
  }

  .header__title [name=group] {
    @apply text-yellow-500
  }

  .button {
    @apply p-2 shrink-0
  }

  .button-add {
    @apply rounded-md bg-yellow-600 hover:bg-yellow-700 transition-colors duration-200
  }

  .button-del {
    @apply rounded-md hover:bg-white/75 transition-colors duration-200 text-yellow-600 font-bold
  }

  .catalog {
    @apply grid gap-6 2xl:grid-cols-3 lg:grid-cols-2
  }

  .card {
    @apply flex w-full gap-3 p-3 outline-2 relative outline-yellow-600 hover:outline cursor-pointer
  }

  .card__img {
    @apply h-52 aspect-square
  }

  .card__info {
    @apply flex flex-col min-w-0 grow gap-3
  }

  .card__title {
    @apply grow text-4xl font-bold font-inter truncate pb-2
  }

  .card__minor-info {
    @apply flex items-center gap-4 grow
  }

  .modal {
    @apply fixed inset-0 bg-white/50 hidden justify-center items-center
  }

  .modal__window {
    @apply lg:w-[1000px] md:w-[500px] bg-[#dedede] flex lg:flex-row sm:flex-col relative
  }

  .modal__img {
    @apply bg-slate-200 lg:w-[50%] md:w-full min-w-0 aspect-square
  }

  .sendBG {
    @apply absolute inset-0 bg-white/80 hidden justify-center items-center
  }
  .loader-yellow {
    @apply animate-spin h-8 w-8 rounded-full border-4 border-yellow-600/40 border-t-yellow-600 border-l-yellow-600
  }
  .loader-white {
    @apply animate-spin h-8 w-8 rounded-full border-4 border-black/40 border-t-black border-l-black
  }
}

@layer utilities {
  .is-loading {
    @apply animate-pulse bg-gray-500 rounded-md
  }
}

