@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply rounded-2xl p-2 w-full h-full flex justify-center items-center bg-[#FFDD2D] hover:shadow-lg transition-all hover:bg-[#fad000] font-bold focus:outline-[#fad000]
}

.del-button {
  @apply rounded-2xl p-2 w-full h-full flex justify-center items-center hover:shadow-md transition-all hover:bg-[#e49b0f] font-bold focus:outline-[#e49b0f]
}

.disabled {
  @apply bg-[#e6eaee] hover:shadow-none hover:bg-[#e6eaee]
}

.input {
  @apply p-2 rounded-2xl w-full bg-[#e6eaee] focus:outline-[#FFDD2D]
}

.black-loader {
  @apply animate-spin border-2 border-black/50 border-t-black border-l-black rounded-full h-4 w-4
}

.search {
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

html {
  display: block;
}

body {
  /* background-color: #f5f1ec; */
  background-color: #f3f7fa;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F3F3F3;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}
a:hover {
  /* color: #535bf2; */
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
}

button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
